body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
    background-color: #ffffff;
}

 h1,h2,h3,p {
     margin: 0;
 }

 ul {
     margin: 0;
     padding-left: 0;
     list-style: none;
     
 }

 img {
     display: block;
 }

 a {
    text-decoration: none;
 }

.head-nav {
    border-bottom: 1px solid #e7e9fc; 
 }

.flex-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    font-family: "Roboto", sans-serif; 
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #2e2f42;
}

.nav-link:hover {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #404bbf;
}

.nav-link:focus {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #404bbf;
}

.web-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;  
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1.17;
    margin-right: 76px;
    padding: 24px 0;
}
 


.studio-logo {
    color: #2e2f42;
    font-family: "Raleway", sans-serif; 
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    padding: 24px 0;
}


.flex-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.adress-link {
    display: flex;
    gap: 40px;
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    font-style: normal;
    padding: 24px 0;
}

.adress-link.active {
    color: #404BBF;
}

.adress-style {
    display: flex;
    font-style: normal;
    flex-direction: row-reverse;
}

.main-title {
    color: #ffffff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    background-color: #2E2F42;
    line-height: 1.07;
    max-width: 496px;
}

.order-button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;

}

.order-button:hover {
    background-color: #404bbf;
}

.order-button:focus {
    background-color: #404bbf;
}

.section-type {
    background-color: #2E2F42;
    display: flex;
    padding: 188px 0;

}

.title-type {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #2E2F42;
    margin-bottom: 8px;
}

.text-type {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
}

.section-kind {
    background-color: #ffffff;
    display: flex;
    padding: 120px 0;

}

.new-style {
    flex-basis: calc((100% - 3 * 24px) / 4);
}
 
.first-list {
    display: flex;
    gap: 24px;
}

.section-team {
    background-color: #F4F4FD;
    display: flex;
    padding: 120px 0;

}

.second-list {
    display: flex;
    align-items: center;
    gap: 24px;

}

.list-name {
    padding: 32px 0px;


}

.view-list {
    display: inline-flex;
    flex-direction: column;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 0px 0px 4px 4px;
}



.title-kind {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: #2E2F42;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 72px;
}

.title-name {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #2E2F42;
    background-color: #ffffff;
    text-align: center;
    margin-bottom: 8px;
}

.text-kind {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
    background-color: #ffffff;
    text-align: center;
}

.section-portfolio {
    background-color: #ffffff;
    padding: 120px 0 120px 0;
}

.third-list {
    display: flex;
    padding-bottom: 0px;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 24px;
    padding: 120px 0;
    row-gap: 48px;
}

.right-list {
    width: calc((100% - 48px) / 3);
}

.next-list {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.text-fin {
    line-height: 1.5;
    color: #f4f4fd;
    width: 264px;
}


.section-fin {
    background-color: #2e2f42;
    padding: 100px 0;
}

.web-logo-fin {
    display: inline-block;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1.17;
    margin-bottom: 16px;
}

.studio-logo-fin {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
   
 }


.link-post {
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0,02em;
    color: #434455;
 }

.link-post:hover {
    font-size: 16px;
    line-height: 1, 5;
    letter-spacing: 0, 02em;
    color: #404bbf;
  }

.link-post:focus {
    font-size: 16px;
    line-height: 1, 5;
    letter-spacing: 0, 02em;
    color: #404bbf;
   }

.img-style {
    background-color: #ffffff;
   }

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1158px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;
    flex-direction: column;
    padding: 0 15px;

   }


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
}

  